* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

app {}


/* commnon */

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-third {
    width: 33.333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}


/* main */

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 24px;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .menu-btn {
    float: right;
    color: #fff;
    padding: 0 23px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .menu-btn:hover {
    background-color: #ccc;
}

#header .menu-btn:hover .menu-icon {
    color: #000;
}

#header .search-btn {
    float: right;
    color: #fff;
    padding: 0 23px;
}

#header .menu-icon,
#header .search-icon {
    line-height: 46px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* 
    #: Center item.
    width: 100%;
    ||
    left && right:0;
    */
    padding: 48px 0;
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

#slider .text-description {
    font-size: 15px;
    font-weight: 700;
}

#content {}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    padding-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 16px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 60%;
    height: 200px;
    margin-top: 15px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(6, 214, 204, 0.3);
}


/* Tour-section */

.tour-section {
    background-color: #000;
}

.ticket-list {
    list-style: none;
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    color: #757575;
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.sold-out {
    color: #fff;
    margin-left: 16px;
    background-color: #f44336;
    padding: 3px 4px;
}

.quantity {
    float: right;
    color: #fff;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #000;
    margin-top: -3px;
}


/* Place-list */

.place-list {
    margin-top: 16px;
}

.place-item {
    width: 33.333%;
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
}

.place-day {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin: 15px 0px;
    line-height: 1.4;
}

.buy-tickets-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    border: 0;
}

.buy-tickets-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}


/* Modal */

.modal.open {
    display: flex;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    position: relative;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    background-color: #fff;
    animation: modalFadeIn ease .5s;
}

.modal-close {
    display: inline-block;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
    padding: 18px 15px;
}

.modal-close:hover {
    opacity: 1;
    color: red;
    background-color: #fff;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 130px;
    color: #fff;
    background-color: #009688;
    letter-spacing: 4px;
}

.modal-head-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}

#button-tickets {
    border: none;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    padding: 18px 0px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

#button-tickets:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    padding: 15px;
    margin-bottom: 15px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}


/* Contact */

.contact-content {
    margin-top: 47px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i {
    width: 32px;
    display: inline-block;
}

.contact-info a {
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
    -webkit-appearance: none;
}

.contact-form .form-submit:hover {
    background-color: #ccc;
    color: #000;
}

.map-selection img {
    width: 100%;
    filter: grayscale(50%);
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
